apiVersion: v1
kind: Service
metadata:
  name: web-app
  namespace: wave-demo
  annotations:
    argocd.argoproj.io/sync-wave: "3"
spec:
  selector:
    app: web-app
  ports:
  - port: 80
    targetPort: 80
